<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>xuannt.filters.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>xuannt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>xuannt.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>xuannt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuestionController</servlet-name>
        <servlet-class>xuannt.controllers.SearchQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSubjectController</servlet-name>
        <servlet-class>xuannt.controllers.LoadSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionController</servlet-name>
        <servlet-class>xuannt.controllers.CreateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUpdateQuestionController</servlet-name>
        <servlet-class>xuannt.controllers.LoadUpdateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionController</servlet-name>
        <servlet-class>xuannt.controllers.UpdateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionController</servlet-name>
        <servlet-class>xuannt.controllers.DeleteQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeQuizController</servlet-name>
        <servlet-class>xuannt.controllers.TakeQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishQuizController</servlet-name>
        <servlet-class>xuannt.controllers.FinishQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryController</servlet-name>
        <servlet-class>xuannt.controllers.SearchHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryController</servlet-name>
        <servlet-class>xuannt.controllers.ViewHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePageQuizController</servlet-name>
        <servlet-class>xuannt.controllers.ChangePageQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseAnswerController</servlet-name>
        <servlet-class>xuannt.controllers.ChooseAnswerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuestionController</servlet-name>
        <url-pattern>/SearchQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSubjectController</servlet-name>
        <url-pattern>/LoadSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionController</servlet-name>
        <url-pattern>/CreateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUpdateQuestionController</servlet-name>
        <url-pattern>/LoadUpdateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionController</servlet-name>
        <url-pattern>/UpdateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionController</servlet-name>
        <url-pattern>/DeleteQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuizController</servlet-name>
        <url-pattern>/TakeQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishQuizController</servlet-name>
        <url-pattern>/FinishQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryController</servlet-name>
        <url-pattern>/SearchHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryController</servlet-name>
        <url-pattern>/ViewHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePageQuizController</servlet-name>
        <url-pattern>/ChangePageQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseAnswerController</servlet-name>
        <url-pattern>/ChooseAnswerController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>DBcon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
